<nav style="z-index: 1030" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logoStyle" routerLink="/">W</a>
  <button (click)="navToggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="toggle" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li ngbDropdown *ngFor="let n of navs?.navData" class="nav-item">
        <a *ngIf="n.childTech === null" (click)="selectNav(n.nav.techName)" class="nav-link active">
          {{n.nav.techName}}
        </a>
        <a ngbDropdownToggle *ngIf="n.childTech !== null" class="nav-link dropdown-toggle active" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{n.nav.techName}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" id="dropdown-basic" aria-labelledby="navbarDropdown">
          <span *ngFor="let subNav of n.childTech; even as e; odd as o; last as l; trackBy: trackNavs">
            <a (click)="selectNav(subNav.techName.replace('5', ''))" class="dropdown-item">{{subNav.techName}}</a>
            <div *ngIf="e && !l" class="dropdown-divider"></div>
            <div *ngIf="o && !l" class="dropdown-divider"></div>
          </span>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="selectProject('electronicshop')">ElectronicShop Angular4</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
