<div class="container-fluid" ng-if="data.homePage">
  <div class="row">
      <div class="col-sm-12">
          <div class="row">
              <div class="col-sm">
                  <div class="card border-success">
                      <div class="card-header bg-transparent border-success">Angular5 Todo App With MongoDB </div>
                      <div class="card-body text-success">
                          <img class="img-fluid" src="assets/images/angular5-todo-app-with-mongoDB.gif" />
                      </div>
                      <div class="card-footer bg-transparent border-success">
                          <a target="_blank" href="http://tutorials.way2programming.com/apps/todo-app-with-mongodb-support/index.html" class="btn btn-success">Demo</a>
                      </div>
                  </div>
              </div>
              <div class="col-sm">
                  <div class="card border-success">
                      <div class="card-header bg-transparent border-success">Reactjs Todo App With local storage</div>
                      <div class="card-body text-success">
                          <img class="img-fluid" src="assets/images/react-redux-todo.JPG" />
                      </div>
                      <div class="card-footer bg-transparent border-success">
                          <a target="_blank" href="http://tutorials.way2programming.com/apps/react-redux-todo-app/index.html" class="btn btn-success">Demo</a>
                          <a target="_blank" href="https://github.com/mdarif-k/React-and-Redux-connection-along-with-Routers" class="btn btn-success">GIT Repo</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>